* {
    background-color: #add8e6;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: red;
}

#maintitle {
    text-align: center;
}

.recipe {
    text-align: center;
    list-style-position: inside;
    list-style: none;
}

#help {
    text-align: center;
    color: black;
}

#cookbookstyle {
    text-align: center;
    display:block;
}